<% if (token) { %>
    <%- include('./include/_loginHeader') %>
<% } else { %>
    <%- include('./include/_header') %>
<% } %>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Restaurants</th>
            <th>Address</th>
            <th>tel-no</th>
            <th>Rating</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <% restaurants.forEach(restaurant => { %>
        <tr>
            <td>
                <a href="/restaurants/<%= restaurant.category %>/<%= restaurant._id %>"><%= restaurant.rest_name %></a>
            </td>
            <td><%= restaurant.rest_addr %></td>
            <td><%= restaurant.rest_telno %></td>
            <td><%= restaurant.average_rating.toFixed(1) %></td>
            <td>
                <a href="/reservations/<%= restaurant._id %>" class="btn-reservation" title="예약">
                <button type="button" class="btn btn-warning">예약</button></a>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<%- include('./include/_footer') %>