<% if (token) { %>
    <%- include('./include/_loginHeader') %>
<% } else { %>
    <%- include('./include/_header') %>
<% } %>

  <main>
      <table class="table-category">
        <tr> 
          <td class="image-container">
            <a href="/restaurants/한식" class="a-default"> 
            <img src="/img/korean.png" class="image-category"> <div class="caption">한식</div>
            </a> </td> 
          <td class="image-container">
            <a href="/restaurants/중국식" class="a-default"> 
            <img src="/img/chinese.png" class="image-category">  <div class="caption">중식</div> 
            </a> 
          </td> 
          <td class="image-container">
            <a href="/restaurants/일식" class="a-default"> 
            <img src="/img/japanese.png" class="image-category">  <div class="caption">일식</div> 
            </a> 
          </td> 
        </tr>
        <tr> 
          <td class="image-container">
            <a href="/restaurants/경양식" class="a-default"> 
            <img src="/img/western.png" class="image-category">  <div class="caption">경양식</div> 
            </a>
          </td> 
          <td class="image-container">
            <a href="/restaurants/아시아" class="a-default"> 
            <img src="/img/asia.png" class="image-category">  <div class="caption">아시아</div> 
            </a>
          </td> 
          <td class="image-container" >
            <a href="/restaurants/숯불구이" class="a-default"> 
            <img src="/img/grill.png" class="image-category">  <div class="caption">숯불구이</div>
            </a>
          </td> 
        </tr>
      </table>
  </main>

  <hr>

  <form action="/search" method="GET">
    <div class="search">
        <input type="text" name="search">
        <button type="submit">검색</button>
    </div>

  </form>
  

  <table class="table table-hover">
    <thead>
        <tr>
            <th>Restaurants</th>
            <th>Rating</th>
            <th>category</th>
            <th>Address</th>
            <th>tel-no</th>
            
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <% restaurants.forEach(restaurant => { %>
        <tr>
            <td>
              <a href="/restaurants/<%= restaurant.category %>/<%= restaurant._id %>"><%= restaurant.rest_name %></a>
            </td>
            <td><%= restaurant.average_rating.toFixed(1) %></td>
            <td><%= restaurant.category %></td>
            <td><%= restaurant.rest_addr %></td>
            <td><%= restaurant.rest_telno %></td>
            
            <td>
                <a href="/reservations/<%= restaurant._id %>" class="btn-reservation" title="예약">
                <button type="button" class="btn btn-warning">예약</button></a>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<!-- Pagination -->
<div class="pagination">
  <% if (currentPage > 1) { %>
    <a href="/?page=<%= currentPage - 1 %>">&laquo; 이전</a>
  <% } %>

  <% for (let i = 1; i <= totalPages; i++) { %>
    <a href="/?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
  <% } %>

  <% if (currentPage < totalPages) { %>
    <a href="/?page=<%= currentPage + 1 %>">다음 &raquo;</a>
  <% } %>
</div>
<div style="margin-top: 20px;"> </div>

<%- include('./include/_footer') %>