<% if (token) { %>
    <%- include('./include/_loginHeader') %>
<% } else { %>
    <%- include('./include/_header') %>
<% } %>

<main id ='site-myPage'>
    <h3>My Page</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Restaurants</th>
                <th>Person Who made Reservation</th>
                <th>Date</th>
                <th>Number of Guests</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <% reservations.forEach(reservation => { %>
                <tr>
                    <td><%= reservation.restaurant_id.rest_name %></td>
                    <td><%= reservation.reservation_person %></td>
                    <td><%= reservation.reservation_date %></td>
                    <td><%= reservation.num_guests %></td>
                    <td>
                        <a href="/reviews/<%= reservation.restaurant_id._id %>" class="btn-reservation" title="예약">
                        <button type="button" class="btn btn-warning">리뷰 작성하기</button></a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
    <!-- review 보여주기 -->
    <h3>My Review</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>Rating</th>
                <th>content</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% restaurants.forEach(restaurant => { %>
                <% restaurant.reviews.forEach(review => { %>
                    <% if(userId === review.user_id._id.toString()) { %>
                    <tr>
                        <td><%= restaurant.rest_name %></td>
                        <td><%= review.rating %></td>
                        <td><%= review.content %></td>
                        <td>
                            <a href="/reviews/update/<%= restaurant._id %>?review_id=<%= review._id %>" class="btn-reservation" title="예약">
                            <button type="button" class="btn btn-warning">리뷰 수정하기</button></a>
                        </td>
                        </form>
                        <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
                        <td><button type="submit" class="btn btn-warning">리뷰 지우기</button></td>
                        </form>
                    </tr>
                    <% } %>
                <% }); %>
            <% }); %>
        </tbody>
    </table>
</main>

<%- include('./include/_footer') %>